<div class="container">
    <h1 div class="page-titles text-center">WORK</div></h1>
</div>
</br>
</br>
<div class="container">
<h1>&nbsp;&nbsp;RAILS APPLICATIONS</h1>
</div>
</br>
<div class="container">
            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://www.brentmade.com/stuckvehicle">
                    <%= image_tag("stuckvehicle.jpg") %>
                </a>
            </div>

            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://www.brentmade.com/devmatch">
                    <%= image_tag("dev-match.jpg")%>
                </a>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://www.brentmade.com/recipesbox">
                    <%= image_tag("recipes-box.jpg") %>
                </a>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://www.brentmade.com/wiki">
                    <%= image_tag("wiki-site.jpg") %>
                </a>
            </div>
            
            
    </div>
</div>
</br>
<div class="container">
    <h1>&nbsp;&nbsp;WEB AND GRAPHIC DESIGN</h1>
</div>
</br>
<div class="container">           
            

            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                
                    <%= image_tag("agency-design.jpg")%>
                </a>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                
                    <%= image_tag("restaurant.jpg") %>
                </a>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://www.brentmade.com/swellseo">
                    <%= image_tag("swell-seo.jpg")%>
                </a>
            </div>
    
</div>     

</br>
</br>
</br>


