<div class="container">
    <h1 div class="page-titles">MY RECENT WORK</div></h1>

            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://brentmade.com/devmatch">
                    <%= image_tag("dev-match.jpg")%>
                </a>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://coder-manual-rails-brentmade.c9.io/recipesbox">
                    <%= image_tag("recipes-box.jpg") %>
                </a>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://coder-manual-rails-brentmade.c9.io/wiki">
                    <%= image_tag("wiki-site.jpg") %>
                </a>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://coder-manual-rails-brentmade.c9.io/fantasyblurb">
                    <%= image_tag("fantasy-picks.jpg") %>
                </a>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://coder-manual-rails-brentmade.c9.io/swellseo">
                    <%= image_tag("swell-seo.jpg")%>
                </a>
            </div>
            
            
</div>

